# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Python
*.pyc
*.pyo

# QtCreator
*.pro.user

# Gedit
*~

#Compiled Package
*.deb
*.rpm
