[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=ownNotes
Exec=/usr/bin/invoker --type=e -s /opt/ownNotes/bin/ownNotes
Icon=/usr/share/icons/hicolor/80x80/apps/ownNotes80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
